{{define "base"}}
<html>
  <body>
    <div>
        <h2>
          {{.Build.Builder}} - {{.Build.BuildNum}}       
          {{if .Build.Info}}
            {{if .Build.Info.task_id}}
              (<a href="https://evergreen.mongodb.com/task/{{.Build.Info.task_id}}"> {{.Build.Info.task_id}}</a>) 
            {{end}}
          {{end}}
        </h2>
      <h3><a href="https://evergreen.mongodb.com/lobster/build/{{StringifyId .Build.Id}}/all">Complete logs for all</a></h3>

    </div>
    <ul>
      {{$build := .Build}}
      {{range .Tests}}
        <li><a href="https://evergreen.mongodb.com/lobster/build/{{StringifyId $build.Id}}/test/{{.Id.Hex}}/">{{.Name}}</a></li>
      {{end}}
    </ul>
  </body>
</html>
{{end}}
