{{define "base"}}
<html>
  <body>
    <div>
        <h2>
          {{.Build.Builder}} - {{.Build.BuildNum}}   
          {{if .Build.TaskID}}
            {{if ne .Build.TaskExecution nil}}
              (<a href="{{.EvergreenURL}}/task/{{.Build.TaskID}}/{{.Build.TaskExecution}}?redirect_spruce_users=true">{{.Build.TaskID}}</a>)
            {{else}}
              (<a href="{{.EvergreenURL}}/task/{{.Build.TaskID}}?redirect_spruce_users=true">{{.Build.TaskID}}</a>)
            {{end}}
          {{end}}
        </h2>
      <h3>
        <a href="{{.ParsleyURL}}/resmoke/{{.Build.ID}}/all">Complete logs for all</a>
      </h3>

    </div>
    <ul>
      {{$build := .Build}}
      {{$parsleyURL := .ParsleyURL}}
      {{range .Tests}}
      <li>
          <a href="{{$parsleyURL}}/resmoke/{{$build.ID}}/test/{{.ID}}/">{{.Name}}</a>
      </li>
      {{end}}
    </ul>
  </body>
</html>
{{end}}
