{{define "base"}}
<html>
    <head>
	<script type="text/javascript" src="/static/jquery-2.1.3.min.js"></script>
      <link href="/static/logkeeper.css" rel="stylesheet" />
        <script type="text/javascript">
          var parseHash = function() {
            var hash = window.location.hash.toString();
            hash = (hash.length > 1 ? hash.substr(2) : hash);
            return parseInt(hash, 10);
          };
          var scrollToLine = function(lineNumber) {
            var lineHeight = parseFloat($('pre').css('lineHeight'));
            var scrollOffset = $('#line-' + lineNumber).offset().top
            if (document.body && document.body.clientHeight){
              scrollOffset -= Math.floor(document.body.clientHeight / 2)
            }
            $('html, body').animate( { scrollTop : scrollOffset }, 650);
          };

          var highlightLine = function(lineNumber) {
            $('#line-' + lineNumber).addClass('selected-line');
          };

          var removeHighlightLine = function(lineNumber) {
            $('#line-' + lineNumber).removeClass('selected-line');
          };

          var setLine = function(lineNumber) {
            window.location.hash = '#L' + lineNumber;
            highlightLine(lineNumber);
          };

          $(document).ready(function() {
            var lineNumber = parseHash();

            if (!isNaN(lineNumber) && lineNumber >= 0) {
              setLine(lineNumber);
              scrollToLine(lineNumber);
            }

            $('.line-num').click(function(ev) {
              var lineNum = parseInt($(ev.target).data().lineNumber)
              if (!isNaN(lineNum) && lineNum >= 0) {
                removeHighlightLine(lineNumber);
                lineNumber = lineNum
                setLine(lineNumber);
              }
              $(ev.target).blur()
            });
          });
      </script>
    </head>

  <body>
    <div>
      <h3>
        {{.TestName}} on <a href ="/build/{{.BuildId}}">{{.Builder}}</a>
        {{ if .Info }}
          {{ if .Info.TaskID }}
            (<a href ="https://evergreen.mongodb.com/task/{{.Info.TaskID}}"> {{.Info.TaskID}} </a>)
          {{ end }}
        {{ end }}
      </h3>
    </div>
    <div>
  	  {{ if .TestId }}
        <a href ="/build/{{.BuildId}}/test/{{.TestId}}?raw=1">Plain Text</a>
        <a href ="https://evergreen.mongodb.com/lobster/build/{{.BuildId}}/test/{{.TestId}}">Lobster Log Viewer</a>
  	  {{ else }}
        <a href ="/build/{{.BuildId}}/all?raw=1">Plain Text</a>
        <a href ="https://evergreen.mongodb.com/lobster/build/{{.BuildId}}/all">Lobster Log Viewer</a>
  	  {{ end }}
    </div>
    <table>
	  <tbody>
	  {{ $colorSet := ColorSet }}
	  {{ $lastLine := MutableVar }}
	  {{ $lastLine.Set nil }}
	  {{range $index, $line := .LogLines}}{{$color := .Color}}<tr><td id="L{{$index}}" class="line-num" data-line-number="{{$index}}"></td><td class="time">{{ if $line.OlderThanThreshold $lastLine.Get}} {{DateFormat $line.Timestamp "2006-01-02 15:04:05 -0700"}}{{end}}</td><td class="log {{if $line.Global}}global{{else}} {{$colorSet.GetColor $color}}{{end}}"><pre id="line-{{$index}}">{{.Data}}</pre></td></tr>{{ $lastLine.Set . }}{{end}}
  </tbody>
    </table>
    <style>
    {{range $colorSet.GetAllColors }}
      .{{.Name}} {color: {{.Color}}; }
    {{end}}
    </style>
  </body>
  <style>
  </style>
</html>
{{end}}
